body {
  padding-top: 50px;
}
.body-content {
  padding: 40px 15px;
  text-align: center;
}
.stat-group {
  margin-top: 10px;
}
.tab-content {
	padding-top: 15px;
}
#save-undo {
	margin-bottom: 10px;
}
.glyphicon.game-input-tab {
	font-size: 1.4em;
}

#basketball-court-container {	
	padding: 0;
}
.basketball-court {
    background-color: orange;
    stroke: black; stroke-width: 4;
}
svg .boundary {
	stroke: black; stroke-width: 8;
}
.shotMiss {
    fill: red;
    stroke-width: 2;
}
.shotSuccess {
    fill: green;
    stroke-width: 2;
}