body {
  padding-top: 50px;
}
.body-content {
  padding: 40px 15px;
  text-align: center;
}
.stat-group {
  margin-top: 10px;
}
.tab-content {
	padding-top: 15px;
}
#save-undo {
	margin-bottom: 10px;
}
.glyphicon.game-input-tab {
	font-size: 1.4em;
}

#basketball-court-container {	
	padding: 0;
}
.basketball-court {
    background-color: orange;
    stroke: black; stroke-width: 4;
}
svg .boundary {
	stroke: black; stroke-width: 8;
}
.shotMiss {
    fill: red;
    stroke-width: 2;
}
.shotSuccess {
    fill: green;
    stroke-width: 2;
}

@media (max-width: 600px) {
  #shot-accuracy {
    background: url("../img/shot-accuracy.jpg") no-repeat center top;
    background-size: 100% 100%;
    min-height: 350px;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  #shot-accuracy {
    background: url("../img/shot-accuracy.jpg") no-repeat center top;
    background-size: 80% 100%;
    min-height: 612px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #shot-accuracy {
    background: url("../img/shot-accuracy.jpg") no-repeat center top;
    background-size: 80% 100%;
    min-height: 612px;
  }
}

@media (min-width: 1200px) {
  #shot-accuracy {
    background: url("../img/shot-accuracy.jpg") no-repeat center top;
    background-size: 80% 100%;
    min-height: 612px;
  }
}






