body {
  padding-top: 50px;
}
.body-content {
  padding: 40px 15px;
  text-align: center;
}
.stat-group {
  margin-top: 10px;
}
.tab-content {
	padding-top: 15px;
}
#save-undo {
	margin-bottom: 10px;
}
.glyphicon.game-input-tab {
	font-size: 1.4em;
}