<div>
  <svg class="basketball-court" ng-attr-height="{{uiParams.court.h}}" ng-attr-width="{{uiParams.court.w}}" ng-click="addShot(1, $event)">
    <!-- Boundary -->
    <line x1="0" y1="0" x2="0" y2="{{uiParams.court.h}}" class="boundary" />
    <line x1="0" y1="0" x2="{{uiParams.court.w}}" y2="0" class="boundary" />
    <line x1="0" y1="{{uiParams.court.h}}" x2="{{uiParams.court.w}}" y2="{{uiParams.court.h}}" class="boundary" />
    <line x1="{{uiParams.court.w}}" y1="0" x2="{{uiParams.court.w}}" y2="{{uiParams.court.h}}" class="boundary" />
   
    <!-- 3 Pt Arc -->
    <path d="M {{0.11*uiParams.court.w}} 0 V {{0.1*uiParams.court.h}}" />
    <path d="M {{0.89*uiParams.court.w}} 0 V {{0.1*uiParams.court.h}}" />    
    <path d="M {{0.11*uiParams.court.w}} {{0.1*uiParams.court.h}} C {{0.11*uiParams.court.w}} {{uiParams.court.h}}, {{0.89*uiParams.court.w}} {{uiParams.court.h}}, {{0.89*uiParams.court.w}} {{0.1*uiParams.court.h}}" fill="transparent"/>
    
    <!-- Key Outline -->
    <path d="M {{0.35*uiParams.court.w}} 0 v {{0.57*uiParams.court.h}} h {{0.3*uiParams.court.w}} v -{{0.57*uiParams.court.h}}" fill="transparent"/>
   
    <!-- Top of Key -->
    <circle cx="{{uiParams.court.w/2}}" cy="{{0.57*uiParams.court.h}}" r="{{0.15*uiParams.court.w}}" fill="transparent" />
    
    <!-- Backboard -->
    <path d="M {{0.41*uiParams.court.w}} {{0.033*uiParams.court.h}} h {{0.18*uiParams.court.w}}" />
    
    <!-- Basket -->
    <circle cx="{{uiParams.court.w/2}}" cy="{{0.08*uiParams.court.h}}" r="{{0.03*uiParams.court.w}}" fill="transparent" />
    
    <!-- Shot circles (directive) -->
    <circle ng-repeat="circle in stats.shots"
       ng-attr-cx="{{circle.x}}"
       ng-attr-cy="{{circle.y}}"
       ng-attr-r="{{circle.r}}"
       ng-attr-class="{{circle.class}}">
    </circle>
  </svg>
</div>
  

 